<div class="container preview__container text-center">
  <h1 class="preview__container--header">{{title}}</h1>
  <h2 class="font-italic preview__ingredients--header">Ingredients</h2>
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        <li *ngFor="let ingredient of ingredients">
          {{ingredient.size}} {{ingredient.unit.name}} {{ingredient.name}}
        </li>
      </ul>
    </div>
  </div>
  <h2 class="font-italic preview__prepsteps--header">Preparation Steps</h2>
  <div class="row">
    <div class="col">
      <p *ngFor="let step of prepSteps">
        {{step.text}}
      </p>
    </div>
  </div>

  <h2 class="font-italic preview__prepsteps--header">Cooking Time</h2>
  <div class="row">
    <div class="col">
      <p>
        {{cookingTime.hours}} hours {{cookingTime.minutes}} minutes
      </p>
    </div>
  </div>

  <h2 class="font-italic preview__prepsteps--header">Note</h2>
  <div class="row">
    <div class="col">
      <p>
        {{footNote}}
      </p>
    </div>
  </div>
  
  <p class="lead">      
      <button class="btn btn-primary btn-lg" (click)="publish()">Publish</button>
  </p>
</div>
