<div class="container login__container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="col-md-3 col-xs-12 text-center">
        <h2>Sign In</h2>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="username" [(ngModel)] = "userEmail">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)] = "userPassword">
            </div>
            <button type="button" class="btn btn-primary" (click)="login(userEmail,userPassword)">Sign In</button>
            <a class="btn btn-outline-primary" role="button" (click)="isStarted = true">Register</a>
          </form>
      </div>
    </div>
</div>