<div class="card component-card" id="file-uploader-card">
  <div class="card-body">
    <h5 class="card-title">Look up the ingredient</h5>
    <p class="card-text">Here's the magic. Provide us the ingredient image and we'll guess what it is.</p>
    <a href="#fileUploader" class="btn btn-outline-secondary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="fileUploader">Go</a>
    <div id="fileUploader" class="collapse multi-collapse">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" accept="image/*" id="srcImage" name="srcImage" #srcImage>
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="useImageBtn()">Use</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <p class="text-info" *ngIf="showAlert">{{message}} </p>              
              <a class="btn btn-outline-primary btn-sm" role="button" *ngIf="!fetchedThings" (click)="continue = true">Continue anyway.</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 srcImagePreview text-center">
          <h5 class="h5">Preview</h5>
          <img src="{{imgSrc}}" alt="" class="img-thumbnail d-none" width="200" height="200" #imgPreview>
          <canvas id="previewCanvas" #previewCanvas width="200" height="200" class="border border-primary"></canvas>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row" *ngIf="things.length > 0 || continue">
  <div class="col">
    <app-visual-search-results [things]="things"></app-visual-search-results>
  </div>
</div>
