.progress{
    height: 2rem;
}

.things-list{
    height: 20rem;
    max-height: 20rem;
    overflow-y: scroll;
}


.component-card{
    margin-bottom: 3rem;
}

#visualResults{
    margin-top: 1rem;
}