<div class="card component-card" id="ingredient-list-maker">
  <div class="card-body">
    <h5 class="card-title">List 'em down</h5>
    <p class="card-text">Guesswork is over. Select a closest matching option, and add it up to the ingredients' list.</p>
    <a href="#visualResults" class="btn btn-outline-secondary" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="visualResults">Go</a>
    <div id="visualResults" class="collapse multi-collapse">
      <form>
        <div class="row">
          <div class="col-md-8 col-sm-12" *ngIf="things.length > 0">
            <h5 class="h5"> Select closest matching guess.</h5>
            <ul class="list-group list-group-flush list-unstyled things-list">
              <li *ngFor="let thing of things" class="list-group-item" (click)="selectThing(thing)" [ngClass]="{'bg-light font-weight-bold': thing.selected}">
                <div class="row">
                  <div class="col-7">
                    {{thing.name}}
                  </div>
                  <div class="col-5">
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': thing.widthValue}" aria-valuenow="0" aria-valuemin="0"
                        aria-valuemax="100">
                        <span class="thingValueLabel">{{(thing.value * 100).toFixed(2)}}%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="row">
              <div class="col">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let ingredient of ingredients">
                    <button type="button" class="close" aria-label="Close" (click)="deleteIngredient(ingredient)">
                      <span aria-hidden="true">&times;</span>
                    </button>{{ingredient.size}} {{ingredient.unit.name}} {{ingredient.name}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="ownIngredient" id="ownIngredient" [(ngModel)]="ownIngredientName" aria-describedby="ownIngredient"
                      placeholder="Ingredient name">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="ownIngredientName = ''">Clear</button>
                    </div>
                  </div>
                  <small id="ownIngredient" class="form-text text-muted">You may name your ingredient here</small>
                </div>
                <div class="form-group">
                  <label for="ownIngredient">Specify the size &mdash;
                    <strong>{{selectedThing.name || ownIngredientName}}</strong>
                  </label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="sizes" placeholder="Set size" name="sizes" [(ngModel)]="selectedThing.size">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedThing.unit.name}}</button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item" href="#" *ngFor="let unit of units" (click)="selectUnit(unit)">{{unit.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-outline-primary" type="button" (click)="addIngredient(ownIngredientName, selectedThing)">Add to list</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
