<div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Hello, {{username}}!</h1>
      <p class="lead"> Generate your recipe as you go. Click photos of the ingredients, instead of writing them down, and our app engine will
        guess the ingredients.</p>
      <hr class="my-4">
      <form>
        <div class="form-group">
          <label for="recipeName">Name your recipe</label>
          <input type="email" class="form-control" id="recipeName" aria-describedby="recipeName" placeholder="Recipe name" [(ngModel)]="title" name="recipename">
          <small id="emailHelp" class="form-text text-muted">Start with a great name to your recipe.</small>
        </div>
        <a class="btn btn-primary text-white btn-lg" role="button" (click)="isStarted = true">Start</a>
      </form>
    </div>
  
    <div class="row justify-content-center" *ngIf="isStarted">
      <div class="col-12">
        <app-file-uploader></app-file-uploader>
      </div>
      <div class="col-12" *ngIf="ingredients.length > 0">
        <app-preparation-steps></app-preparation-steps>
      </div>
      <p class="lead" *ngIf="prepSteps.length > 0">
          <a class="btn btn-outline-primary btn-lg" role="button" routerLink="/preview-recipe">Preview &amp; Publish</a>          
          <button class="btn btn-primary btn-lg" (click)="publish()">Publish</button>
      </p>
      
    </div>
  
  </div>