<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
  <a class="navbar-brand" routerLink="/write-recipe">Visual Recipe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/write-recipe" routerLinkActive="active">Write
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/recipe-book" routerLinkActive="active">Recipe Book
            <span class="sr-only">(current)</span>
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tba" routerLinkActive="active">The Bachelor's Apron</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
    <span class="navbar-text">
      {{username}}
    </span>
  </div>
</nav>
<router-outlet></router-outlet>
