<div class="card component-card">
  <div class="card-body">
    <h5 class="card-title">Write some prepartion steps</h5>
    <p class="card-text">Let's write down the preparation steps of your awesome recipe, and we're ready to publish.</p>
    <a href="#prepSteps" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="prepSteps" class="btn btn-outline-secondary">Go</a>
    <div id="prepSteps" class="collapse multi-collapse">
      <form>
        <ul class="list-unstyled">
          <li *ngFor="let step of prepSteps; let i = index">
            <div class="col-12" id="step_{{step.id}}">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="step_{{step.id}}">Step #{{i+1}}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'text-success' : step.editStep}" href="step_{{step.id}}" (click)="step.editStep = true; preventEvent($event)">Edit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="step_{{step.id}}" *ngIf="step.editStep" (click)="step.editStep = false; preventEvent($event)">Update</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="step_{{step.id}}" (click)="removeStep(step); preventEvent($event)">Remove</a>
                </li>
              </ul>
            </div>
            <div class="card" *ngIf="!step.editStep" id="{{step.id}}">
              <div class="card-body">
                {{step.text}}
              </div>
            </div>
            <div class="form-group" *ngIf="step.editStep">
              <textarea class="form-control" aria-label="Edit step" name="prepStep" [(ngModel)]="step.text" id="prepStep_{{step.id}}"></textarea>
            </div>
          </li>
        </ul>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend text-area-prepend">
              <span class="input-group-text">New step</span>
            </div>
            <textarea class="form-control" aria-label="New Step" name="newstep" [(ngModel)]="newStep" id="newstep"></textarea>
          </div>
          <button class="btn btn-default btn-lg btn-block" type="button" (click)="addStep(newStep)">Add new step</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="card component-card" *ngIf="prepSteps.length > 0">
  <div class="card-body">
    <h5 class="card-title">Garnish it!</h5>
    <p class="card-text">Specify cooking time, add a footnote if you wish to.</p>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <input type="number" class="form-control" aria-label="Cooking time in hours" aria-describedby="cookingTimeH" name="cookingTimeH"
              id="cookingTimeH" [(ngModel)]="cookingTime.hours">
            <div class="input-group-append">
              <span class="input-group-text" id="cookingTimeH">hours</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <input type="number" class="form-control" aria-label="Cooking time in minutes" aria-describedby="cookingTimeM" name="cookingTimeM"
              id="cookingTimeM" [(ngModel)]="cookingTime.minutes">
            <div class="input-group-append">
              <span class="input-group-text" id="cookingTimeM">minutes</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend text-area-prepend">
              <span class="input-group-text">Footnote</span>
            </div>
            <textarea class="form-control" aria-label="Footnote" name="footnote" [(ngModel)]="footNote" id="footnote"></textarea>
          </div>
        </div>
      </div>
      <button class="btn btn-default btn-lg" type="button" (click)="addFootNoteAndTiming(cookingTime, footNote)">Add footnote and cooking time</button>
    </div>
  </div>

</div>
